.card-img-top {
	width: 100%;
	height: 200px;
	max-width: 250px;
	object-fit: cover;
	border: solid 1px #000
}

.meal-title {
	font-size: large;
	font-weight: 700
}

#home-heading {
	background-image: url(https://t4.ftcdn.net/jpg/01/84/03/33/360_F_184033316_CUb2OKMszuLtqaK9tVmBhu1m8P1IxlQ0.jpg);
	background-size: cover
}

#content {
	overflow: hidden;
	display: inline-block;
	position: relative;
	width: 400px
}

.close:before {
	content: '✕'
}

.close {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer
}

#content:hover .close {
	display: block
}

#content:hover .close:hover {
	color: red
}

.column1 {
	flex: 65%;
	display: flex;
	flex-wrap: wrap
}

.column2 {
	flex: 30%
}

@media only screen and (max-width:600px) {
	.table-hover tbody tr td {
		padding: 3px
	}
}
.close {
	float: right;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .5
}

.close:hover {
	color: #000;
	text-decoration: none
}

.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
	opacity: .75
}

button.close {
	padding: 0;
	background-color: transparent;
	border: 0
}